.header {
  padding: 30px 0;
}
.header .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .header__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .header__link {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: #FFFFFF;
}
.header .header__link:hover {
  color: #A259FF;
}
.header .header__btn {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 152px;
  height: 60px;
  padding: 0px 30px 0px 30px;
  gap: 12px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  background: #A259FF;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: #FFFFFF;
}
.header .header__menu {
  display: none;
}

@media screen and (max-width: 834px) {
  .header {
    padding: 30px 30px;
  }
  .header .header__list {
    display: none;
  }
  .header .header__btn {
    display: none;
  }
  .header .header__menu {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .header {
    padding: 30px 30px;
  }
}
.hero {
  padding: 0 0;
}
.hero .hero__container {
  display: flex;
  align-items: center;
  gap: 90px;
}
.hero .hero__image {
  width: 610px;
  height: 642px;
  gap: 0px;
  opacity: 0px;
}
.hero .hero__title {
  font-family: Work Sans;
  font-size: 51px;
  font-weight: 600;
  line-height: 56.1px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.hero .hero__text {
  width: 360px;
  gap: 0px;
  opacity: 0px;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.hero .hero__btn {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 320px;
  height: 72px;
  padding: 0px 20px 0px 40px;
  gap: 20px;
  border-radius: 20px 20px 20px 20px;
  border: 1px 1px 1px 1px;
  opacity: 0px;
  background: #3B3B3B;
  border: 1px solid #A259FF;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
}

@media screen and (max-width: 834px) {
  .hero {
    padding: 0 0;
  }
  .hero .hero__container {
    gap: 30px;
  }
  .hero .hero__image {
    width: 397px;
    height: 530px;
    gap: 0px;
    opacity: 0px;
  }
  .hero .hero__title {
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    text-align: left;
  }
  .hero .hero__text {
    width: 265px;
    gap: 0px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
  .hero .hero__btn {
    width: 320px;
    height: 60px;
    padding: 0px 20px 0px 40px;
    gap: 20px;
    border-radius: 20px 20px 20px 20px;
    border: 1px 1px 1px 1px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
  }
}
@media screen and (max-width: 375px) {
  .hero__container {
    flex-direction: column;
  }
  .hero__container .hero__image {
    width: 375px;
    height: 232px;
    gap: 0px;
    opacity: 0px;
    overflow: hidden;
  }
}/*# sourceMappingURL=block.css.map */